@font-face {
  font-family: "Barlow-Bold";
  src: url(./fonts/Barlow-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Regular";
  src: url(./fonts/Barlow-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url(./fonts/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* -----------------------------------------------------Header---------------------------------------------- */

.header {
  margin-bottom: 45px;
  margin-top: 43px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 33px;
}

.nav__item {
  font-family: "Barlow-Bold";
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
}

.nav__item:hover {
  background-color: #fefcf7;
  color: #333d4b;

  cursor: pointer;
}

.nav__item:nth-child(2) {
  color: #2c343e;
}

/*-------------------------------------------------- Main----------------------------------------------------- */

.Hero {
  max-width: 1280px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 136px;
  padding: 117px 702px 338px 85px;

  background-image: url(./imgaes/Bitmap.jpg);
  background-repeat: no-repeat;
}

.hero__title {
  width: 493px;

  margin-bottom: 32px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */

  color: #fefcf7;
}

.hero__text {
  width: 445px;
  margin-bottom: 56px;

  font-family: "Barlow-Regular";
  font-size: 16px;
  line-height: 26px;

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__btn {
  padding: 15px 31px;

  background: #0e8784;
  border-radius: 6px;
  border: none;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  color: #fefcf7;
}

.hero__btn:hover {
  background-color: #66d2cf;
  color: #fff;
}

.collection {
  margin-bottom: 188px;
}

/* .our_box {
   position: relative; 
}  */

/* .collection__wrapper {
  position: relative;
} */

.collection__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 72px;
  /* identical to box height, or 48% */

  text-align: center;

  color: #83888f;
}

.collection__box {
  /* position: absolute; */
  top: -50px;
  width: 100%;
  height: 200px;

  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.collection__list {
  /* position: absolute; */

  display: flex;
  gap: 30px;
}

/* .collection__item {
   z-index: 2; 
} */

.collection__item img {
  margin-left: 20px;
}

.collection__item__title {
  margin-top: 71px;
  margin-bottom: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  color: #333d4b;
}

.collection__item__subtitle {
  font-family: "Barlow-Regular";
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;

  color: #333d4b;
}

.choose {
  max-width: 1280px;
  margin-bottom: 80px;
  height: 577px;
  margin: 0 auto;
  background: #2c343e;
  border-radius: 10px;
}

.choose__title {
  padding-top: 100px;
  padding-bottom: 32px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  text-align: center;

  color: #fefcf7;
}

.choose__subtitle {
  width: 540px;
  margin: 0 auto;
  padding-bottom: 86px;
  font-family: "Barlow-Regular";
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__cards {
  display: flex;
  gap: 30px;
  margin: 0 85px;
}

.choose__card1 {
  width: 350px;
  height: 382px;

  background: #0e8784;
  border-radius: 8px;
}

.choose__card1 img {
  margin: 72px 143px 56px 136px;
}

.choose__card1 h4 {
  margin: 0 48px 47px 24px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  text-align: center;

  color: #fefcf7;
}

.choose__card1 p {
  margin: 0 48px 48px 47px;

  font-family: "Barlow-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: #fefcf7;
}

.choose__heading {
  margin-top: 200px;
  margin-bottom: 80px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  color: #83888f;
}

/* --------------------------------------------About Us page----------------------------------- */

.hero-us {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 168px;
  padding: 137px 100px 265px 85px;

  background-image: url(./imgaes/cofeimg.jpg);
  width: 1280px;
  height: 450px;
}

.hero-us__title {
  margin-bottom: 24px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #fefcf7;
}

.hero-us__subtitle {
  width: 445px;
  font-family: "Barlow-Regular";

  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;
}
.commitment {
  margin-bottom: 158px;
}
.commitment > div {
  display: flex;
  align-items: center;
  gap: 125px;
}

.commitment-left {
  background-image: url(./imgaes/cofeperson.png);
  width: 445px;
  height: 520px;

  background-repeat: no-repeat;
  border-radius: 8px;
}

.commitment-right h2 {
  margin-bottom: 32px;
  width: 357px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #333d4b;
}

.commitment-right p {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality {
  position: relative;
  display: flex;
  max-width: 1280px;
  height: 447px;
  margin: 0 auto;
  padding: 100px 678px 176px 85px;
  background: #2c343e;
  border-radius: 10px;
}

.quality__title {
  width: 517px;
  margin-bottom: 32px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  color: #fefcf7;
}

.quality__subtitle {
  width: 540px;

  font-family: "Barlow-Regular";

  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality__img {
  position: absolute;
  background-image: url(./imgaes/cofecop.jpg);
  width: 445px;
  height: 474px;
  background-repeat: no-repeat;

  right: 50px;
  top: -80px;

  border-radius: 5px;
}

.headquarters {
  width: 1280px;
  margin: 0 auto;
  margin-top: 168px;
  padding-left: 85px;
}

.headquarters__title {
  margin-bottom: 72px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #83888f;
}

.headquarters__list {
  display: flex;
  align-items: center;
  gap: 108px;
}

.headquarters__item img {
  margin-bottom: 45px;
}

.headquarters__item h3 {
  margin-bottom: 24px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  color: #333d4b;
}

.headquarters__item p {
  margin-bottom: 10px;

  font-family: "Barlow-Regular";

  font-size: 16px;
  line-height: 26px;

  color: #333d4b;
}

.footer {
  background: #2c343e;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 168px;
  padding: 47px 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 103px;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__item {
  font-family: "Barlow-Bold";

  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;

  cursor: pointer;
}

.footer__item:hover {
  color: #fff;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* ----------------------------------------------------PAGE-3 ----------------------------------------------- */

.hero-subscribe {
  max-width: 1280px;
  margin: 0 auto;
  padding: 134px 710px 244px 85px;

  background-image: url(./imgaes/cofesubscribe.png);
  width: 1280px;
  height: 450px;
  background-repeat: no-repeat;
}

.hero-subscribe__title {
  margin-bottom: 32px;

  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */

  color: #fefcf7;
}

.hero-subscribe__text {
  width: 445px;

  font-family: "Barlow-Regular";
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}
